/* Base Styles */

* {
  box-sizing:  border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #ffffff;
}

h1  {
  font-family: 'Source Code Pro', monospace;
  font-size: 56px;
  padding-left: 2%;
}

span  {
  color: #fa0075;
}

h2  {
  display: block;
  font-family: 'Source Code Pro', monospace;
  font-size: 36px;
  color: #fa0075;
  margin: 0 auto;
  /* padding-bottom: 1.5%; */
  text-align: center;
}

h3  {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 700;
  /* text-align: center; */
}

h5  {
  font-weight: 400;
  font-size: 16px; /* (.75rem) original 18pt*/
  margin: 1% auto 0;
  text-align: center;
  padding: 3% 0 3%;
}

a {
  text-decoration: none;
  color: #ffffff;
}

img {
  display: block;
  border: 1px solid #b7b7b7;
  max-width: 90%;
  height: auto;
  margin: 0 auto;
}

#contact img {
  display: inline-flex;
  border: none;
}

/***** GRID *****/

.full-width {
  display: flex;
  flex-direction: column;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

/****** ABOUT ******/

#about  {
  /* height: 550px; */
  max-width: 100%;
  height: auto;
  background-image: url('../img/about-me.png');
  background-size: cover;
}

@media screen and (max-width: 600px)  {
  .half-width {
    width: 100%;
  }

  .third-width  {
    width: 100%;
  }

  /***** HEADER *****/

  header {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    /* height: 800px; */
    height: auto;
    background-image: url('../img/hero-background.png');
    background-size: cover;
  }

  header .half-width  {
    /* margin: 0 auto; */
    /* max-width: 100%; */
  }

  #logo {
    background-color: #1f202b;
    display: flex;
    justify-content: center;
    /* height: 50px; */
    width: 100%;
  }

  #logo p {
    margin-top: 1%;
    font-size: .90rem;
  }

  nav {
    display: flex;
    justify-content: space-around;
    background-color: #1f202b;
    width: 100%;
    /* margin: 0 2%; */
    padding: 1%;
  }
  /****** WORK ******/

  #work {
    /* height: 1850px; */
    height: auto;
    background-color: #1f202b;
  }

  #work .half-width {
    /* max-width: 100%; */
    margin: 0 auto;
    padding: 1% 0;
  }

  .projects {
    height: auto;
    /* margin-top: 25px; */
    /* margin-bottom: 25px; */
  }

  .projects h3 {
    /* width: 90%; */
    margin: .25em 0 .25em 0;
    padding-left: 2.5%;
    text-align: center;
  }

  h4  {
    font-size: 20px;
    font-weight: 400;
    margin-top: .25em;
    /* padding-left: 2.5%; */
    text-align: center;
  }

  .projects p {
    max-width: 95%;
    margin: 0 auto;
    padding: 0 1.5% 2.5% 1.5%;
  }
  /****** ABOUT ******/

  #about  {
    /* height: 550px; */
    max-width: 100%;
    height: auto;
    background-image: url('../img/about-me.png');
    background-size: cover;
  }

  #about h4 {
    width: 80%;
    margin: 0 auto;
    margin-bottom: .50em;
    text-align: left;
    color: #1f202b;
  }

  #about p {
    width: 80%;
    padding-bottom: 5%;
    margin: 0 auto;
    color: #1f202b;
  }

  /***** CONTACT *****/

  #contact  {
    /* height: 400px; */
    height: auto;
    background-color: #1f202b;
  }

  #contact .third-width {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
  }

  #contact h3 {
    margin: 3% 0 2%;
 }

   section  {
     /* max-width: 100%; */
   }

  #contact p  {
    margin: 0;
    text-align: center;
  }

  #contact img {
    padding: .5em 1em 0 .5em;
  }

  h5  {
    clear: both;
    /* margin: 3% 0 3%; */
    /* padding: 3% 0 3%; */
  }

}

@media screen and (min-width: 601px)  {
  body {
    font-size: 18px;
  }

  h1  {
    font-size: 72pt;
    width: 75%;
    margin: 0;
    padding: 20% 2% 10% 0;
    clear: both;
  }

  h2  {
    font-size: 36px;
    /* color: #fa0075; */
    /* margin: 0 auto; */
    padding-top: 3%;
    padding-bottom: 2%;
    /* text-align: center; */
  }

  h3  {
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 24px;
    /* font-weight: 700; */
    /* text-align: center; */
  }

  /***** GRID 601px *****/

  .full-width {
    /* display: flex; */
    flex-direction: row;
    /* width: 1200px; */
    /* max-width: 100%; */
    /* margin: 0 auto; */
  }

  .half-width {
    /* width: 600px; */
    max-width: 50%;
    /* float: left; */
  }

  .third-width  {
    /* width: 400px; */
    max-width: 33.3%;
    float: left;
  }

  /***** HEADER 601px *****/

  header  {
    height: 800px;
    background-image: url('../img/hero-background.png');
    background-size: cover;
  }

  #logo {
    background-color: #1f202b;
    /* height: 50px; */
    height: auto;
    width: 50%;
    float: left;
    /* padding: 15px 0 15px 0; */
  }

  #logo p {
    margin: 0;
    /* padding: 25px 0; */
    /* padding: 15px 0 15px 0; */
    /* padding-left: 40px; */
    font-size: 18px;
    padding: 25px 0;
  }

  nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #1f202b;
    /* height: 50px; */
    height: auto;
    width: 50%;
    /* padding: 15px 0 15px 0; */
  }

  nav>a {
    padding: 25px 1rem;
    font-size: 18px;
  }

  /******* Work 601px *******/

  #work {
    /* height: 1850px; */
    width: 100%;
    height: auto;
    background-color: #1f202b;
  }

  .projects {
    /* height: 550px; */
    width: 100%;
    /* height: auto; */
    /* margin: 0 auto; */
    padding: 25px 0 25px 0;
    /* margin-bottom: 25px; */
  }

  .proj-image {
    display: flex;
    justify-content: flex-end;
  }

  .proj-image>img {
    /* max-width: 80%; */
    margin: 0;
  }

  .proj-desc  {
    padding-left: 2%;

  }

  .projects h3  {
    max-width: 90%;
    margin: 0;
  }

  .projects h4  {
    max-width: 90%;
    margin: 0;
  }

  .projects p {
    /* width: 550px; */
    max-width: 90%;
    font-size: 18px;
    /* margin: 2% auto; */
    /* padding: 0 25px; */
  }

  .even-projects {
    flex-direction: row-reverse;
   }

  .even-projects > .proj-image  {
    justify-content: center;
  }

  .even-projects > .proj-desc {
    text-align: right;
  }

  .even-projects h3,
  .even-projects h4,
  .even-projects p  {
    max-width: 100%;
    margin-right: 0;
    /* padding-right: 2%; */
  }

  /***** About 601px *****/

  #about {
    clear: both;
    /* max-width: 100% */
    /* height: 550px; */
    /* height: auto; */
    /* background-image: url('../img/about-me.png'); */
  }

  #about .full-width  {
    /* flex-direction: column; */
    /* height: 450px; */
    color: #1f202b;
  }

  #about .half-width  {
    max-width: 80%;
  }

  #about h4 {
    width: 75%;
    margin: 0 auto;
  }

  #about p {
    width: 75%;
    margin: 0 auto;
    padding: 2% 0 5%;
  }
  /***** Footer 601px *****/

  footer  {
    clear: both;
    width: 100%;
    /* height: 400px; */
    height: auto;
    background-color: #1f202b;
  }

  #contact .full-width  {
    /* height: 200px; */
    height: auto;
    max-width: 100%;
  }

  #contact .third-width {
    /* justify-content: space-between; */
    width: 100%;
    /* height: 200px; */
    height: auto;
    text-align: center;
    /* float: left; */
  }

  #contact .third-width h3  {
    font-size: 20px;
    margin: 5% 0 3%;
  }

  #contact .third-width p {
    align-items: center;
    justify-content: center;
  }

  #contact img {
    /* padding: .5em 1em 0 .5em; */
  }

  #follow-links {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
  }

  h5  {
    clear: both;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin: 0;
    padding: 1% 0 2.5%;
  }
}

@media screen and (max-width: 768px) {
  .projects p  {
    /* font-size: 16px; */
  }
}

@media screen and (min-width: 900px)  {
  body {
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 24px;
    /* color: #ffffff; */
  }

  h1  {
    font-size: 96px; /* original 72pt*/
    width: 75%;
    margin: 0;
    padding: 20% 2% 10% 0;
    clear: both;
  }

  h2  {
    font-size: 48px; /* original 36pt*/
    padding-top: 3%;
    padding-bottom: 2%;
  }

  h3  {
    font-size: 32px; /* original 24pt*/
  }

  /***** GRID 900px *****/

  .full-width {
    /* display: flex; */
    flex-direction: row;
    /* width: 1200px; */
    /* max-width: 100%; */
    /* margin: 0 auto; */
  }

  .half-width {
    /* width: 600px; */
    max-width: 50%;
    float: left;
  }

  .third-width  {
    /* width: 400px; */
    max-width: 33.3%;
    float: left;
  }

  /***** HEADER 900px *****/

  header  {
    /* height: 800px; */
    background-image: url('../img/hero-background.png');
    background-size: cover;
  }

  #logo {
    background-color: #1f202b;
    /* height: 50px; */
    height: auto;
    width: 50%;
    /* float: left; */
    /* padding: 15px 0 15px 0; */
  }

  #logo p {
    margin: 0;
    font-size: 30px;
    padding: 20px 0;
  }

  nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #1f202b;
    /* height: 50px; */
    height: auto;
    width: 50%;
    /* padding: 15px 0 15px 0; */
  }

  nav>a {
    padding: 20px 1rem;
    font-size: 30px;
  }

  /******* Work 900px *******/

  #work {
    /* height: 1850px; */
    width: 100%;
    height: auto;
    background-color: #1f202b;
  }

  .projects {
    /* height: 550px; */
    width: 100%;
    /* height: auto; */
    justify-content: center;
    margin: 0 auto;
    padding: 25px 0 25px 0;
  }

  .projects h3  {
    max-width: 100%;
    margin: 0;
  }

  .projects h4  {
    max-width: 100%;
    margin: 0;
  }

  .projects p {
    /* width: 550px; */
    max-width: 75%;
    font-size: 20px;
    margin: 2% 0;
    /* padding: 0 25px; */
  }

  .even-projects {
    flex-direction: row-reverse;
   }

  .even-projects > .proj-image  {
    justify-content: center;
  }

  .even-projects > .proj-desc {
    text-align: right;
  }

  .even-projects h3,
  .even-projects h4,
  .even-projects p  {
    max-width: 100%;
    margin-right: 0;
    /* padding-right: 2%; */
  }

  /***** About 900px *****/

  #about {
    height: 550px;
  }

  #about .full-width  {
    /* height: 450px; */
    color: #1f202b;
  }

  /***** Footer 900px *****/

  footer  {
    clear: both;
    /* height: 400px; */
    background-color: #1f202b;
  }

  #contact .full-width  {
    /* height: 200px; */
    /* height: auto; */
    max-width: 100%;
  }

  #contact .third-width {
    /* justify-content: space-between; */
    width: 100%;
    /* height: 200px; */
    height: auto;
    text-align: center;
    float: left;
  }

  #contact img {
    padding: .5em 1em 1em .5em;
  }

  #contact .third-width h3  {
    font-size: 32px; /* original 24pt*/
    margin: 5% 0 3%;
  }

  h5  {
    clear: both;
    font-weight: 400;
    font-size: 18pt;
    text-align: center;
    margin: 1% 0 0;
  }
}
